.nav-bar{
    background-color: #D32F2F ;
}
.nav-link{
    color: white !important;
    font-weight: bold;
}
.cardone, .cardtwo , .cardthree{
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
i {
    margin-right: 10px;
    color: #D32F2F;
  }
 .icon-text{
    color: #D32F2F;
  }
  
  .newArrivals{
      margin-top:50px;
  }
.card{
    width: 250px;
    height: auto !important;
    margin-bottom: 5px;
  }
.btn-primary{
      width: 100%;
      background-color: #D32F2F !important;

  }
.card-text{
      font-weight: bold;
  }
.heading{
    font-weight: bold;
    color: #D32F2F ;
    margin:20px;

}
.heading > h1{
    text-shadow: 2px 2px 4px black;
}
.footer{
    width: 100%;
    background-color: #D32F2F ;
    height: 40px;
}

  @media screen and (max-width: 600px){
    .cardone, .cardtwo , .cardthree{
        width: 100%;
    }
  }